// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Slack
$violet-primary-color: #400d40;
$blue-primary-color: #1264a3;
$black-primary-color: #1d1d1d;
$white-primary-color: #fff;
$beige-primary-color: #f6efe8;
$black-secondary-color: #454545;
$uppercase: uppercase;
